<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See
    https://github.com/nlog/nlog/wiki/Tutorial
    https://github.com/nlog/nlog/wiki/Configuration-file
    
    NLog.Slack    = log to Slack
    NLog.Extended = log to email, and msmq
  -->

  <extensions>
    <add assembly="NLog.Slack" />
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>

    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${machinename}|${processname}|${processid}|${threadid}|${event-properties:item=caller}|${event-properties:item=PortfolioId}|${message}" />

    <target xsi:type="AsyncWrapper" name="logfileAsync">
      <target xsi:type="File" name="logfile"
              fileName="${basedir}\logs\${shortdate}.log"
              layout="${longdate}|${level:uppercase=true}|${machinename}|${processname}|${processid}|${threadid}|${event-properties:item=caller}|${event-properties:item=PortfolioId}|${message}" />
    </target>

    <target xsi:type="AsyncWrapper" name="slackAsync">
      <target xsi:type="Slack" name="slack"
            layout="${longdate}|${level:uppercase=true}|${machinename}|${processname}|${processid}|${threadid}|${event-properties:item=caller}|${event-properties:item=PortfolioId}|${message}"
            webHookUrl="https://hooks.slack.com/services/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"
            channel="#support"
            username="support"
            compact="true"
            icon=":zap:" />
    </target>

    <target xsi:type="MSMQ" name="msmq"
            useXmlEncoding="false"
            recoverable="true"
            label="${logger}|${level:uppercase=true}"
            layout="${longdate}|${level:uppercase=true}|${machinename}|${processname}|${processid}|${threadid}|${event-properties:item=caller}|${event-properties:item=PortfolioId}|${message}"
            queue="FormatName:DIRECT=OS:localhost\private$\netreturn" />

    <target xsi:type="AsyncWrapper" name="mailAsync">
      <target xsi:type="Mail" name="localMailServer"
            from="support@netreturn.co.za"
            smtpServer="localhost"
            smtpPort="25"
            smtpAuthentication="none"
            to="support@netreturn.co.za" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="logfileAsync" />
    <logger name="*" minlevel="Trace" writeTo="msmq" />
    <logger name="*" minlevel="Fatal" writeTo="slackAsync" />
    <!--<logger name="*" minlevel="Fatal" writeTo="mailAsync" />-->
  </rules>

</nlog>